@media (max-width: 1230px) {
    .nav-lists {
        display: none;
    }
    .nav-button {
        display: block;
    }

    .nav.open .nav-lists{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 46px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        font-size: 34px;
        font-weight: 600;
        z-index: 100;
    }

    .nav-link {
    color: #606060;
}

    .nav-link.active {
    color: #000000;
}

.nav-button {
    position: fixed;
    z-index: 9;
    top: 46px;
    right: 30px;
    z-index: 101;
}

.header-nav {
    margin-bottom: 50px;
}

.header-row {
    flex-direction: column;
    row-gap: 20px;
}

.header-content {
    margin-top: 0;
}

.header-image {
    text-align: center;
}
}

@media (max-width: 700px) {
    .heading {
        font-size: 34px;
        line-height: 1.3;
    }

    .heading span {
        font-size: 28px;
    }
    
    .services {
        padding: 60px 0;
    }

    .portfolio {
        padding: 60px 0;
    }

    .portfolio-title {
        margin-bottom: 50px;
    }

    .project-img {
        margin-bottom: 30px;
    }


    .project + .project  {
    margin-top: 55px;
}
}